<form action="/vehicles" method="post">
  <p>
    <label for="vehicle_vin">Vin</label><br />
    <input id="vehicle_vin" name="vehicle[vin]" size="30" type="text" />
  </p>
  <p>
    <label for="vehicle_year">Year</label><br />
    <input id="vehicle_year" name="vehicle[year]" size="30" type="text" />
  </p>
  <p>
    <label for="vehicle_location">Location</label><br />
    <input id="vehicle_location" name="vehicle[location]" size="30" type="text" />
  </p>
  <p>
    <input id="vehicle_submit" name="commit" type="submit" value="Submit" />
  </p>
</form>